body  {
  background-color: #42f5e9;
}


.imgizq1  {
  text-align: left;
}

.imgder1{
  text-align: right;
}

.imgcentro1 {
  text-align: center;
  border-color: #f04385;
  border-width: : 10px;
}



.titulos1 {
  text-align: center;
}

.texto1 {
  text-align: center;
}
